.container{
    margin-top: 100px;
    border-color: red;
    margin-left: 150px;
}
section{
    margin-left: 200px;
    padding: 0px;
    margin-top: 150px;
}
.waves-effect{
    margin-left: 20px;
    
}

