label { /* Chrome/Opera/Safari */
    color: black;
    font-size: 15px;
  }

  span.field-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
